/* 侧边栏选中样式 */
/* .VPSidebarItem.level-1.is-link {
    padding-left: 15px;
}
.VPSidebarItem.level-1.is-link.is-active.has-active {
    background: #ecf5ff;
    border-radius: 6px;
    padding-left: 15px;
} */

/* 给图片本身添加光晕 */
:root {
 --vp-home-hero-image-background-image: linear-gradient(-45deg, #9bc1fa 50%, #408bfb 50%);
--vp-home-hero-image-filter: blur(68px);
}

.VPHero .VPImage {
    filter: drop-shadow(-2px 4px 6px #0003);
}

::-webkit-scrollbar {
  /*滚动条整体样式*/ /*高宽分别对应横竖滚动条的尺寸*/
  width: var(--scrollbar-width, 0px);
  height: var(--scrollbar-height, 5px);
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: var(--scrollbar-thumb-radius, 10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--scrollbar-thumb-bgColor, rgba(204, 204, 204, 1));
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: var(--scrollbar-track-radius, 10px);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--scrollbar-track-bgColor, rgba(255, 255, 255, 1));
}